@using SUR_Web_App.Views.UserRoles

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ManageUserNavPage(ViewContext)" asp-page="./ManageUser">User profile</a></li>
</ul>